:root{
    /* Текст */
    /* Колір тексту в абзацах */
    --primary-text-color: #757575;
    /* Колір заголовків */
    --title-text-color: #212121;
    /* Колір посилань на мейл і телефон у футері */
    --link-address-bottom-color: rgba(255, 255, 255, 0.6);
    /* Акцентний колір макету */
    --accent-color: #2196F3;
    /* Колір другої частини тексту логотипу */
    --logo-second-color: #000000;

    /* Фон */
    /* Основний колір сторінки*/
    --primary-white-color: #FFFFFF;
    /* Темні ділянки фону */
    --accent-background-color: #2F303A; 
    /* Світло-сірі ділянки фону */
    --second-accent-background-color: #F5F4FA;

    --primary-letter-spacing: 0.03em;
    --added-letter-spacing: 0.06em;
}

body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
    letter-spacing: var(--primary-letter-spacing);
}
/* Обнулення маркування списків */
.list{
    list-style: none;
}

/*Загальне для посилань*/
.link {
    text-decoration: none;
    font-size: 14px;
    
}

/* Загальне для кнопок */
.button {
    font-family: inherit;
    letter-spacing: var(--primary-letter-spacing);
}

/* Стилізування шапки */
/* Лого */
.logo{
    color: var(--logo-second-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}
.logo-el{
    color: var(--accent-color);
}

/*Стилізування елементів навігації*/
.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.contact .link{
    letter-spacing: 0.02em;
}

/* Стилізування футеру */
.bottom {
    background-color: var(--title-text-color);
    line-height: 1.71;
}
.logo-second-el{
    color: var(--primary-white-color);
}
.bottom-address{
    font-style: normal;
}
    /* color: var(--link-address-bottom-color); */
.location{
    color: var(--primary-white-color);
}

.bottom .contact{
    color: var(--link-address-bottom-color);
}

.bottom .contact:hover,
.bottom .contact:focus{
    color: var(--accent-color);
}



/* Відображення поточної сторінки*/
.site-nav .link.current{
    color: var(--accent-color);
}
/* Виділення і псевдостани */
.contact .link{
    color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}



/* CТУДІЯ */
/* Стилізування заголовків h2 */
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    /* text-align: center; */

}
/* Стилізування заголовків h3 */
.subtitle{
    color: var(--title-text-color);
}
.features-items .subtitle {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
}
.team .subtitle{
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
}
/* Блок Герой */
.hero{
    background-color: var(--accent-background-color);
}
.hero-title{
    color:var(--primary-white-color);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: var(--added-letter-spacing);
    text-align: center;
}


/* Кнопка Замовити послугу */
.button.primary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    letter-spacing: var(--added-letter-spacing);
    font-size: 16px;
    line-height: 2.25;
    font-weight: 700;
}

/* Особливості */
.features-items .text {
    font-size: 14px;
    line-height: 1.71;
}

/* Секція Наша команда */
.team{
    background-color: var(--second-accent-background-color);
}
.team .title{
    color: var(--title-text-color);
}

.team-dscr{
    font-size: 16px;
    line-height: 1.18;
}

/* ПОРТФОЛІО */
/* Кнопки сторінки портфоліо */
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--second-accent-background-color);

    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* Стилізування h2(portfolio) */
.portfolio-title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: var(--added-letter-spacing);
}

/* Стилізування p(portfolio) */
.portfolio-dscr{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
}
.portfolio-link{
    text-decoration: none;
}